.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 12px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background: #fff;

  margin-bottom: 8px;
}

.rowChecked {
  background: #fafafa;
}

.titleChecked {
  text-decoration: line-through;
  opacity: 0.6;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  flex: 1;
}

.left input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-weight: 600;
}

.meta {
  font-size: 14px;
  color: #666;
}

.actions {
  display: flex;
  gap: 8px;
}

.iconBtn {
  width: 28px;
  height: 28px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #fff;

  cursor: pointer;
}

.iconBtn:hover {
  background: #f6f6f6;
}

.editBtn {
  border-color: #0000002f;
  background: #2adb1363;
}

.editBtn:hover {
  background: #ffe6cc;
}

.deleteBtn {
  border-color: #0000002f;
  background: #ff0000dc;
}

.deleteBtn:hover {
  background: #ffd9d9;
}
